FORMAT: 1A
HOST: https://api.dealshield.com/

# Assurance Order Management System (AOMS)

AOMS is a system to accept orders for Assurance Protection
products, such as Repair Guarantee and eventually PSI and DealShield.

## Orders [/orders/assurance]

### Create a New Order [POST]

You may create your own order using this action. It takes a JSON
object containing physical location name, order account number (seller
number), productId, and other vehicle-related information.

+ Request (application/json)
    + Attributes
        + physicalLocation
            + name: `AAAA` the name of the auction (required)
        + orderingAccountNumber: the 5 million number of the person placing the order (number, required)
        + vehiclePrice: the price of the vehicle (number, required)
        + currency
            the currency for the the vehicle price
            + Default: 'USD'
        + productId (enum, required)
            the product id being ordered
            + Members
                + REPAIR_GUARANTEE
        + vin: Vehicle Identification Number (required)
        + year: Vehicle year (required)
        + make: Vehicle make (required)
        + trim: Vehicle trim (required)
        + model: Vehicle model (required)
        + odometer: the number of miles/kilometers traveled (number, required)
        
    + Body

            {
                "physicalLocation": {
                    "name": "AAAA"
                },
                "orderingAccountNumber": 5123456,
                "currency": "USD",
                "productId": "REPAIR_GUARANTEE",
                "vehiclePrice": 24000,
                "vin": "JF2SJADC3FH504814",
                "year": 2015,
                "make": "SUBARU",
                "trim": "Premium Moonroof",
                "model": "Forester",
                "odometer": 12345
            }

+ Response 201 (application/json)

    + Headers

            Location: https://api.dealshield.com/orders/assurance/id/rg_fe880faf-7d44-4b7d-8245-2f12bdbb4011

    + Body

            {
                "href": "https://api.dealshield.com/orders/assurance/id/rg_fe880faf-7d44-4b7d-8245-2f12bdbb4011",
                "orderingAccountNumber": 5123456,
                "status": "pending",
                "currency": "USD",
                "productId": "REPAIR_GUARANTEE",
                "vehiclePrice": 24000,
                "vin": "JF2SJADC3FH504814",
                "year": 2015,
                "make": "SUBARU",
                "trim": "Premium Moonroof",
                "model": "Forester",
                "odometer": 12345,
                "createdOn": "2015-08-05T08:40:51.620Z"
            }

### Order [/orders/assurance/id/{id}]

+ Parameters
    + id: `rg_fe880faf-7d44-4b7d-8245-2f12bdbb4011` (required)

### Retrieve an Order [GET]

Get the order object by providing an id

+ Response 200 (application/json)
    + Body
    
            {
                "href": "https://api.dealshield.com/orders/assurance/id/rg_fe880faf-7d44-4b7d-8245-2f12bdbb4011",
                "orderingAccountNumber": 5123456,
                "currency": "USD",
                "productId": "repairGuarantee",
                "vehiclePrice": 24000,
                "vin": "JF2SJADC3FH504814",
                "year": 2015,
                "make": "SUBARU",
                "trim": "Premium Moonroof",
                "model": "Forester",
                "odometer": 12345,
                "createdOn": "2015-08-05T08:40:51.620Z"
            }

## Data Structures